body {
 background-color: #fafafa;
background-color: white;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  padding: 0 30px;
}
a{
	cursor:pointer;
	color: #383838;
}
#followhead{
	font-size: 1.5em;
	color: #838383;
	font-weight: 500;
	margin-top: 50px;
}
.profile{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;	
	height: 100px;
	text-align: center;
	
}
.person-icon{	
	margin: 0 ;
	padding: 0 ;
	font-size: 6em !important;
	background-color: white;
	float: left;
	border-radius: 50%;
	box-shadow: 2px 2px 2px #efefef;
}
#username{
	letter-spacing: 1px;
	font-size: 1.6em;
	margin-top: 30px;
	text-align: center;

}

@media (min-width: 768){
body {
  padding: 0 120px;
}
}