<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Micro Blogging - Welcome <!--  ToDo name --></title>
    <!-- Bootstrap core CSS -->   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <!-- Custom styles for this template -->
    <link href="../../css/personhomeCSS.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900" rel="stylesheet"> </link>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> </link>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"></link>

   
  </head>

  <body>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid navi">
        <div id="navbar" class="">
          <div class=" col-md-2 col-xs-2 navborder">
            <a href="home">Home</a>
          </div>         
          <div class="col-md-8 col-xs-7 navborder">
            <i class="material-icons md-48 search-icon">search</i>
            <form>
              <input class="form-control" placeholder="Type in to Search" aria-label="Search" type="text"/>
            </form>
          </div>
          <div class="col-md-2 col-xs-3 navborder">
            <!-- <a href="login" id="logout">Log out</a>          -->
            <a href="#" th:href="@{/logout}">Log Out</a>
          </div>
        </div>
      </div>
</nav>


    <div class="container-fluid mainbody">
      <div class="row">
        <div class="col-md-2 hey">
          <div class="profile">
            <i class="person-icon material-icons glyphicon ">person</i>
            <p id="username" th:text="'Hello, ' + ${user} + '!'" >Username</p>
             
          </div> 
          <div class="followbut">
            <a href="follower" class="follow" id="follower">Follower</a>    
            <a href="following" class="follow" id="following">Following</a>  
          </div>
          <div style="clear: both"></div>
        </div>

        <div class="col-md-9">
          <div class="blogging">
            <h4>Share your news </h4>
            <textarea class="form-control " placeholder="..."></textarea>
            <button class="btn follow " id="post" type="submit">Post</button>
            <div style="clear: both"></div>
            <h4 id="timetitle">Timeline</h4>
             <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle dropd" type="button" data-toggle="dropdown">private
              <span class="caret"></span></button>
              <div class="dropdown-menu">
                <a href="#">global</a>
              </div>
            </div> 
            <div class="timeline">
              <p>  ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
  </body>
</html>